body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1b;
}

.full-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "login img";
    box-sizing: border-box;
}

.login-container {
    grid-area: login;
    background-color:  #1c1c1b;
    width: 100%;
    height: 100%;
}

.side-img {
    grid-area: img;
    max-width: 100%;
    height: 100vh;
    background-image: url(../create-login-form-KevinPatino/images/side-image.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c1c1b;
}

@media only screen and (max-width: 700px) {

    .full-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "full";
        }

    .login-container {
    grid-area: full;

    }

    .login-form-inner {
        background-color: #1c1c1b;
        margin: 0 !important;
        padding: 0;
    }

    .login-form {
        margin: 3% !important;
    }

}


.logo {
    display: flex;
    background-color: #1c1c1b;
    padding-top: 2em;
    padding-left: 2em;
}

.logo-img {
    height: 3em;
    margin-right: 0.5em;
}

h1 {
    margin: 0;
    padding: 0.5em 0;
    font-size: 1em;
    align-content: end;
}

h1, h2, h3, p {
    color: whitesmoke;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 10%;
    background-color: #363632;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.login-form-inner {
    margin: 10% 10%;
    /* border: dotted 1px greenyellow; */
    min-width: 80%;
}

.log-in-logo {
    display: flex;
}

.login-icon {
    padding-right: 0.5em;
}

.log-in-logo h2 {
    display: block;
    margin: 0.2em;
}

.login-text {
    margin-top: 0;
    margin-bottom: 2em;
}

h3 {
    font-weight: 500;
    font-size: 0.9em;
    margin: 0.2em 0;
}

.email-form {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("images/mail.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 15px;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 30px;
    background-color: transparent;
    height: 30px;
    color: gray;
    border: 1px solid gray;
}

.focus-email {
    border: 2px solid gold;
    background-image: url("images/mail-focus.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 15px;
    background-color: whitesmoke;
}

.password-form {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("images/lock.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 15px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 30px;
    background-color: transparent;
    height: 30px;
    color: gray;
    border: 1px solid grey;
}

.focus-pass {
    border: 2px solid gold;
    background-image: url("images/lock-focus.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 15px;
    background-color: whitesmoke;
}


.email-img, .lock-icon, .eye-icon {
    width: 1em;
    padding: 0.2em;
}

.eye-icon {
    padding-left: 12em;
}

.remindme-section {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;

}

#checkbox {
    margin: 0;
    accent-color: gold;
    color: #1c1c1b;
}

.remindme-section .normal {
    color: whitesmoke;
    font-size: 14px;
}

.remindme-section .bold {
    position: relative;
    right: 0;
    margin: 0;
    font-size: 0.8em;
    font-weight: 500;
    color: gold;
    
}

.loging-button {
    display: flex;
    flex-direction: row;
}

.login-button p {
    color: gold;
}

button {
    background-color: gold;
    border-style: none;
    border-radius: 3px;
    padding: 8px;
    font-weight: 800;
    width: 100%
}

.login-button p {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 0.9em;
}

.login-button .bold {
    font-weight: 500;
    padding-left: 5px;
}



